<%- include('header', { title: "Rally the Troops!" }) %>
<style>li img{height:1.0em;vertical-align:middle}</style>

<p>
Rally the Troops! is created and maintained by Tor Andersson.
It is an open source project.

<p>
Please submit problem reports and make suggestions for improvements on
<a href="https://github.com/ccxvii/rally-the-troops/issues">GitHub</a>.

<h2>
Tips &amp; Tricks
</h2>

<ul>

<li>
Open a separate browser tab or window for each side when playing solo.

<li>
Use the middle mouse button to drag and scroll around the map.

<li>
Hold down the Shift key when mousing over a block or counter in order to magnify it.

<li>
The <i>Enter</i> and <i>Escape</i> keys open and close the chat box.

<li>
To invite your friends to a private game, send them the address of the join page.

<li>
Chat messages can only be seen by players who are part of a game.
They are hidden from observers.

<li>
The <img src="/images/cog.svg"> menu has links to rules, player aids and other reference material.
In some games you can also choose between alternative graphics and layout options.

<li>
The <img src="/images/earth-africa-europe.svg"> button hides all counters and markers,
if you need to check something on the map that is obscured.

<li>
The <img src="/images/magnifying-glass.svg"> button shrinks the map to fit the screen width.

<li>
The <img src="/images/scroll-quill.svg"> button hides the game log and player status displays, so you can
see more of the map.

<li>
The <img src="/images/chat-bubble.svg"> button lights up if you have unread chat messages.

</ul>

<h2>
Licensing
</h2>

<p>
All games are used with consent from their respective rights holders.

<p>
Icons are sourced from <a href="https://game-icons.net">game-icons.net</a>
by Delapouite, Lorc, and others under the
<a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> license.

<!--
<h2>
Other Games
</h2>

<p>
Here are some web sites where you can play other historical games:

<dl>
<dt><a href="https://www.boardgamearena.com/">boardgamearena.com</a>
<dd>Polis
<dd>Unconditional Surrender
<dt><a href="http://civ.rol-play.com/">civ.rol-play.com</a>
<dd>Advanced Civilization
<dt><a href="https://paronglans.com/">paronglans.com</a>
<dd>Julius Caesar
<dt><a href="http://playfriedrich.com/">playfriedrich.com</a>
<dd>Friedrich
<dt><a href="https://www.yucata.de/">yucata.de</a>
<dd>A Few Acres of Snow
<dd>Pax Porfiriana
<dd>Polis
<dd>Sekigahara
</dl>
-->
