//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Change mail address
	body
		include header
		article
			h1 Change mail address
			if flash
				p.error= flash
			form(method="post" action="/change-mail")
				p Name: #{user.name}
				p Mail: #{user.mail}
				p
					label New mail address:
						br
						input(type="text" name="newmail" required)
				p
					button(type="submit") Change mail
