<%- include('header', { title: "Change password" }) %>
<form action="/change_password" method="post">
<p>
Name: <%= user.name %>
<p>
Mail: <%= user.mail %>
<p>
<label for="password">Old Password: </label><br>
<input type="password" id="password" name="password" required>
<p>
<label for="newpass">New Password: </label><br>
<input type="password" id="newpass" name="newpass" required>
<p>
<button type="submit">Change password</button>
</form>
