<%- include('header', { title: "Change name" }) %>
<form action="/change_name" method="post">
<p>
Name: <%= user.name %>
<p>
Mail: <%= user.mail %>
<p>
<label for="newname">New name: </label><br>
<input type="newname" id="newname" name="newname" required>
<p>
<button type="submit">Change name</button>
</form>
