<%- include('header', { title: "Change mail address" }) %>
<form action="/change_mail" method="post">
<p>
Name: <%= user.name %>
<p>
Mail: <%= user.mail %>
<p>
<label for="newmail">New mail address: </label><br>
<input type="newmail" id="newmail" name="newmail" required>
<p>
<button type="submit">Change mail</button>
</form>
