//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Create game
	body
		include header
		article
			h1 Create a new game

			ul
				each title in TITLE_LIST
					unless title.is_hidden
						li
							a(href="/create/"+title.title_id)= title.title_name
