<%- include('header', { title: "Forgot password" }) %>
<% if (user) { %>
<p>
You're already logged in!
<% } else { %>
<form action="/forgot_password" method="post">
<p>
<label for="mail">Mail: </label><br>
<input type="mail" id="mail" name="mail" required>
<p>
<button type="submit">Forgot password</button>
</form>
<% } %>
