//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Forgot password
	body
		include header
		article
			h1 Forgot password
			if flash
				p.error= flash

			if user
				p You're already logged in!
			else
				form(method="post" action="/forgot_password")
					p
						label Mail:
							br
							input(type="mail" name="mail" required)
					p
						button(type="submit") Forgot password
