<%- include('header', { title: "Edit Post" }) %>
<style>
input, textarea { width: 100%; max-width: 45em; }
</style>
<form action="/forum/edit/<%- post.post_id %>" method="post">
<p>
<textarea name="body" rows="20" cols="80" maxlength="32000" required autofocus><%= post.body %></textarea>
<p>
<button type="submit">Submit</button>
</form>
