//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title= thread.subject
	body
		include header
		article
			h1= thread.subject

			each row in posts
				+forumpost(row,1)

			if user
				p: a(href="/forum/reply/"+posts[0].post_id) Reply
