//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title= SITE_NAME
		if user
			meta(http-equiv="refresh" content=600)
	body
		include header
		article
			h1 All Public Games

			h2 Open
			+gametable(0, open_games)

			if replacement_games.length > 0
				h2 Need replacement
				+gametable(0, replacement_games)

			if ready_games.length > 0
				h2 Ready to start
				+gametable(0, ready_games)

			h2 Active
			+gametable(1, active_games)
