//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title= SITE_NAME
		if user
			meta(http-equiv="refresh" content=900)
	body
		include header
		article.wide
			h1 Public Games

			h2 Open
			if open_games.length > 0
				+gamelist(open_games)
			else
				p No open games.

			if replacement_games.length > 0
				h2 Open (missing players)
				+gamelist(replacement_games)

			p
				a(href="/create") Create a new game

			if active_games.length > 0
				h2 Recently active
				+gamelist(active_games)

			if finished_games.length > 0
				h2 Recently finished
				+gamelist(finished_games)
