header
	a(href="/")
		if SITE_ICON
			img(src="/images/"+SITE_ICON width=48 height=48)
		else
			img(src="/images/rally-the-troops.svg" width=48 height=48)
	nav
		a(href="/about") About
		if user
			if ENABLE_FORUM
				a(href="/forum") Forum
			a(href="/games/public") Public
			if user.waiting > 0
				a(href="/games/active") Games (#{user.waiting})
			else
				a(href="/games/active") Games
			a(href="/contacts") Friends
			if user.unread > 0
				a(href="/inbox") Inbox (#{user.unread})
			else
				a(href="/inbox") Inbox
			a(href="/profile") Profile (#{user.name})
		else
			a(href="/signup") Signup
			a(href="/login") Login
