<%- include('header', { title: "Rally the Troops!" }) %>
<style>
.list { display: flex; flex-wrap: wrap; justify-content: left; }
.list a { margin: 1em; display: block; }
.list img { box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5); height: 200px; }
</style>

<p>
Rally the Troops! is a website where you can play historic games with other
players.

<p>
Registration and use is free, and there are no ads.

<div class="list">
<a href="/info/crusader-rex"><img src="/crusader-rex/cover.jpg"></a>
<a href="/info/hammer-of-the-scots"><img src="/hammer-of-the-scots/cover.jpg"></a>
<a href="/info/julius-caesar"><img src="/julius-caesar/cover.jpg"></a>
<a href="/info/richard-iii"><img src="/richard-iii/cover.jpg"></a>
</div>

<div class="list">
<a href="/info/300-earth-and-water"><img src="/300-earth-and-water/cover.jpg"></a>
<a href="/info/shores-of-tripoli"><img src="/shores-of-tripoli/cover.jpg"></a>
</div>

<p>
Join the <a href="https://discord.gg/CBrTh8k84A">Discord</a> server to find players or report bugs.
