//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		+social(title.title_name, "Play " + title.title_name + " on the web.", title.title_id)
		title= title.title_name
	body
		include header
		article
			h1= title.title_name

			div.logo
				+gamecover(title.title_id)

			| !{ title.about_html }

			p Read more about the game on #[a(href="https://boardgamegeek.com/boardgame/"+title.bgg) boardgamegeek.com].

			h2 Open
			if open_games.length > 0
				+gamelist(open_games, true)
			else
				p No open games right now.

			p
				a(href="/create/"+title.title_id) Create a new game

			if replacement_games.length > 0
				h2 Open (missing players)
				+gamelist(replacement_games, true)

			+tourlist(seeds, active_pools, finished_pools)

			if active_games.length > 0
				h2 Recently active
				+gamelist(active_games, true)

			if finished_games.length > 0
				h2 Recently finished
				+gamelist(finished_games, true)
