<%- include('header', { title: "Login" }) %>
<% if (user) { %>
<p>You're already logged in!
<% } else { %>
<form action="/login" method="post">
<p>
<label for="username">Name or mail: </label><br>
<input type="text" id="username" name="username" required>
<p>
<label for="password">Password: </label><br>
<input type="password" id="password" name="password" required>
<p>
<button type="submit">Login</button>
</form>
<p>
<a href="/forgot_password">Forgot password</a>
<% } %>
