//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Inbox
		style.
			.unread { font-weight: bold }
			td a { display: block }
	body
		include header
		article
			h1 Inbox

			p
				a(href="/message/send") Send message

			table
				thead
					tr
						th From
						th Subject
						th Date
				tbody
					each row in messages
						tr
							td
								a.black(href="/user/"+row.from_name)= row.from_name
							td(class=row.is_read?"read":"unread")
								a.black(href="/message/read/"+row.message_id)= row.subject
							td= row.time
					else
						tr
							td(colspan=3) No messages.

			p
				a(href="/outbox") Outbox
