//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Inbox
		style .unread { background-color: lightyellow }
	body
		include header
		article
			h1 Inbox

			p
				a(href="/message/send") Send message

			table
				tr
					th From
					th Subject
					th Date
				each row in messages
					tr(class=row.is_read?"read":"unread")
						td: a(href="/user/"+row.from_name)= row.from_name
						td: a(href="/message/read/"+row.message_id)= row.subject
						td= row.time
				else
					tr
						td(colspan=3) No messages.

			p
				a(href="/outbox") Outbox
