//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Reset password
	body
		include header
		article
			h1 Reset password
			if flash
				p.error= flash

			form(method="post" action="/reset_password")
				p
					label Mail:
						br
						input(type="text" name="mail" size=32 value=mail required)
				p
					label New Password:
						br
						input(type="password" name="password" size=32 required)
				p
					label Token:
						br
						input(type="text" name="token" size=32 value=token style="font-family:monospace" required)
				p
					button(type="submit") Reset password
