<%- include('header', { title: "Reset password" }) %>
<form action="/reset_password" method="post">
<p>
<label for="mail">Mail: </label><br>
<input type="text" id="mail" name="mail" size="32" value="<%= mail %>" required>
<p>
<label for="password">New Password: </label><br>
<input type="password" id="password" name="password" size="32" required>
<p>
<label for="token">Token: </label><br>
<input type="text" id="token" name="token" size="32" value="<%= token %>" style="font-family:monospace" required>
<p>
<button type="submit">Reset password</button>
</form>
