<%- include('header', { title: "Signup" }) %>
<% if (user) { %>
<p>You're already logged in!
<% } else { %>
<form action="/signup" method="post">
<p>
<label for="username">Name: </label><br>
<input type="text" id="username" name="username" required>
<p>
<label for="mail">Mail: </label><br>
<input type="text" id="mail" name="mail" required>
<p>
<label for="password">Password: </label><br>
<input type="password" id="password" name="password" required>
<p>
<button type="submit">Create Account</button>
</form>
<% } %>
