//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title User List
	body
		include header
		article
			h1 User List

			table
				thead
					tr
						th Name
						th Member since
						th Last seen
				tbody
					each row in user_list
						tr
							td.name: a(href="/user/"+row.name)= row.name
							td= row.ctime
							td= row.atime
