/* COMMON GRID LAYOUT */

:root {
	--font-normal:  "Source Serif", "Circled Numbers", "Georgia", "Noto Emoji", "Dingbats", serif;
	--font-small: "Source Serif SmText", "Circled Numbers", "Georgia", "Noto Emoji", "Dingbats", serif;
	--font-widget: "Source Sans", "Circled Numbers", "Verdana", "Noto Emoji", "Dingbats", sans-serif;
}

html {
	image-rendering: -webkit-optimize-contrast; /* try to fix chromium's terrible image rescaling */
	image-rendering: high-quality;
	-webkit-tap-highlight-color: transparent; /* disable blue flashes when tapping on chrome mobile */
}

summary::-webkit-details-marker {
	display: none;
}

html {
	user-select: none;
}

#log, #prompt, #chat_text {
	user-select: text;
}

summary img, button img, menu img {
	pointer-events: none;
}

html, button, input, select, textarea {
	font-family: var(--font-widget);
	font-size: 16px;
}

#chat_text, #chat_input, #notepad_input {
	font-family: var(--font-normal);
}

#log, #turn_info {
	font-family: var(--font-small);
}

.hide {
	display: none;
}

body:not(.shift) .debug {
	display: none;
}

body.Observer .resign {
	display: none;
}

.action {
	cursor: pointer;
}

/* BUTTON */

button {
	flex: 0 0 auto;
	white-space: nowrap;

	padding: 1px 10px;
	vertical-align: middle;
	border: 2px solid;

	background-color: gainsboro;
	border-color: white darkgray darkgray white;
	color: black;
	outline: 1px solid black;
}

button:enabled:active:hover {
	border-color: darkgray white white darkgray;
	padding: 2px 9px 0px 11px;
}

button:disabled {
	color: gray;
	border-color: gainsboro;
	outline-color: gray;
}

/* MAIN GRID */

html {
	box-sizing: border-box;
	background-color: black;
	padding:
		env(safe-area-inset-top, 0px)
		env(safe-area-inset-right, 0px)
		env(safe-area-inset-bottom, 0px)
		env(safe-area-inset-left, 0px);
	width: 100%;
	width: 100dvw;
	height: 100%;
	height: 100dvh;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	overflow: clip;
	grid-template-columns: minmax(0, 1fr) auto;
	grid-template-rows: auto minmax(0, 1fr) auto;
	width: 100%;
	height: 100%;
}

main {
	position: relative;
	grid-column: 1;
	grid-row: 2/4;
	overflow: auto;
	scrollbar-color: #0006 silver;
}

@media (pointer: coarse) {
	main {
		scrollbar-width: none;
	}
}

aside {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	overflow: clip;
	grid-template-rows: auto auto minmax(0, 1fr);
	width: 212px;
	background-color: white;
	border-left: 1px solid black;
}

#roles {
	grid-column: 1;
	grid-row: 1;
}

#turn_info {
	grid-column: 1;
	grid-row: 2;
	border-bottom: 1px solid black;
	padding: 4px 8px;
	white-space: pre-line;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
}

#turn_info:empty {
	display: none;
}

#log {
	grid-column: 1;
	grid-row: 3;
	overflow-y: scroll;
	scrollbar-color: gray gainsboro;
}

#log {
	padding: 12px 0;
	font-size: 12px;
	line-height: 18px;
	white-space: pre-wrap;
}

#log > * {
	padding: 0 4px 0 8px;
	min-height: 9px;
}

footer {
	position: fixed;
	pointer-events: none;
	z-index: 500;
	bottom: 0;
	background-color: white;
	padding: 0 8px;
}

/* HEADER */

header {
	grid-column: 1/3;
	grid-row: 1;
	border-bottom: 1px solid black;
	background-color: gainsboro;
}

header .viewpoint_button.selected {
	background-color: hsl(51,100%,60%);
	border-color: hsl(51,100%,80%) hsl(51,100%,40%) hsl(51,100%,40%) hsl(51,100%,80%);
}

header .viewpoint_button.selected:active:hover {
	border-color: hsl(51,100%,40%) hsl(51,100%,80%) hsl(51,100%,80%) hsl(51,100%,40%);
}

header.disconnected {
	background-color: red !important;
}

header.your_turn {
	background-color: orange;
}

header.replay {
	background-image: repeating-linear-gradient(45deg, gainsboro, gainsboro 40px, silver 40px, silver 80px);
}

#prompt {
	box-sizing: border-box;
	min-width: 300px;
	font-size: 18px;
	line-height: 22px;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	margin-top: 11px;
	margin-bottom: 5px;
	padding: 0 8px;
}

#prompt:hover {
	white-space: normal;
}

#toolbar {
	float: left;
	display: flex;
	flex-wrap: wrap;
}

#actions {
	float: right;
	min-width: 100px;

	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;

	min-height: 32px;
	padding: 6px 7px;
	gap: 8px;
}

@media (pointer: coarse) {
	#toolbar { gap: 8px; }
	#actions { gap: 16px 8px; }
}

@media (max-width: 400px) {
	#toolbar, #actions {
		float: none;
	}
	#prompt {
		margin-top: 0;
	}
}

/* MENUS AND ICONS */

details menu {
	display: block;
	min-width: 140px;
}

summary img, #toolbar button img {
	display: block;
	height: 36px;
	padding: 4px;
}

#toolbar button {
	background-color: transparent;
	width: 44px;
	height: 44px;
	border: none;
	outline: none;
	height: auto;
	padding: 0;
	margin: 0;
}

details[open] > summary { background-color: #0004; }
@media (hover: hover) {
	summary:hover, #toolbar button:hover { background-color: #0004; }
}
summary:active, #toolbar button:active { background-color: #0008; }

summary {
	cursor: pointer;
	list-style: none;
}

/* POPUP MENUS */

menu {
	overflow-y: auto;
	max-height: calc(100% - 44px);
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid black;
	background-color: white;
	z-index: 500;
}

menu li {
	padding: 4px 8px;
	cursor: pointer;
}

menu li a {
	display: block;
	margin: -4px -8px;
	padding: 4px 8px;
	text-decoration: none;
	color: inherit;
}

menu li:hover {
	background-color: black;
	color: white;
}

menu li.title {
	cursor: default;
	color: inherit;
	background-color: gainsboro;
}

menu li.separator {
	cursor: default;
	padding: 0;
	border-top: 1px solid black;
}

menu li.disabled {
	cursor: default;
	color: gray;
	background-color: inherit;
}

menu li img {
	vertical-align: -4px;
	height: 20px;
	width: 20px;
	margin-right: 4px;
}

menu li:hover img {
	filter: invert(100%);
}

menu li.disabled img {
	opacity: 0.5;
}

menu li.disabled:hover img {
	filter: none;
}

@media (pointer: coarse) {
	menu li:not(.separator) {
		padding: 8px;
	}
}

/* REPLAY CONTROLS */

#replay_panel {
	grid-column: 2;
	grid-row: 3;
	display: flex;
	height: 24px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	background-color: silver;
}

.replay_button {
	height: 24px;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center;
	opacity: 60%;
}

@media (hover: hover) {
	.replay_button:hover {
		background-color: #fffc;
	}
}

.replay_button:active {
	background-color: #fff8;
}

#replay_first { background-image: url(/images/gui_arrow_up.svg) }
#replay_prev { background-image: url(/images/gui_arrow_left.svg) }
#replay_step_prev { background-image: url(/images/gui_chevron_left.svg) }
#replay_step_next { background-image: url(/images/gui_chevron_right.svg) }
#replay_next { background-image: url(/images/gui_arrow_right.svg) }
#replay_last { background-image: url(/images/gui_arrow_down.svg) }
#replay_play { background-image: url(/images/gui_play.svg) }
#replay_stop { background-image: url(/images/gui_stop.svg) }

/* ROLES */

.role {
	display: grid;
	grid-template-columns: 1fr auto;
	padding-top: 3px;
	border-bottom: 1px solid black;
	font-size: 16px;
	line-height: 1.5;
}

.role.hide {
	display: none;
}

.role_name {
	grid-row: 1;
	grid-column: 1;
	padding-left: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.role_name::before {
	content: "\25cb  ";
	opacity: 0.6;
}

.role.present .role_name::before {
	content: "\25cf  ";
}

.role_stat {
	grid-row: 1;
	grid-column: 2;
	text-align: right;
	padding-left: 8px;
	padding-right: 4px;
}

.role_user {
	grid-row: 2;
	grid-column: 1 / 3;
	text-align: right;
	padding-bottom: 3px;
	padding-right: 5px;
	font-style: italic;
}

.role_user a {
	text-decoration: none;
	color: black;
}

.role_user a:hover {
	text-decoration: underline;
}

.role_info {
	grid-row: 3;
	grid-column: 1 / 3;
	border-top: 1px solid black;
	background-color: silver;
}

.role_info:empty {
	display: none;
}

/* MAP */

#mapwrap {
	position: relative;
	margin: 0 auto;
}

#map {
	position: relative;
	margin: 0 auto;
}

#mapwrap[data-fit="width"], #mapwrap[data-fit="both"] {
	max-width: 100%;
}

#mapwrap #map {
	position: absolute;
	isolation: isolate;
	transform-origin: 0 0;
}

/* CHAT WINDOW */

#chat_button.new img {
	filter: invert(100%) drop-shadow(0px 0px 2px #0008);
}

#chat_window {
	left: 24px;
	top: 68px;
	width: 640px;
	z-index: 499;
}

#notepad_window {
	left: 60px;
	top: 200px;
	width: 520px;
	z-index: 498;
}

#chat_window, #notepad_window {
	position: fixed;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	grid-template-columns: 1fr 30px;
	border: 1px solid black;
	background-color: white;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
	visibility: hidden;
}

#chat_window.show, #notepad_window.show {
	visibility: visible;
}

#chat_header, #notepad_header {
	grid-row: 1;
	grid-column: 1/3;
	cursor: move;
	background-color: gainsboro;
	border-bottom: 1px solid black;
	padding: 4px 8px;
}

#chat_x, #notepad_x {
	grid-row: 1;
	grid-column: 2;
	cursor: pointer;
	margin: 5px 5px;
	height: 24px;
	text-align: right;
}

#chat_x:hover, #notepad_x:hover {
	background-color: black;
	color: white;
}

#chat_text, #notepad_input {
	grid-row: 2;
	grid-column: 1/3;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	height: 216px;
	padding: 0px 4px;
	overflow-y: scroll;
}

#chat_text .date {
	font-weight: bold;
}

#chat_form {
	grid-row: 3;
	grid-column: 1/3;
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
}

#chat_input {
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border: none;
	padding: 4px;
	font-size: 16px;
}

#notepad_input {
	outline: none;
	border: none;
	resize: none;
}

#notepad_footer {
	grid-row: 3;
	grid-column: 1/3;
	display: flex;
	justify-content: end;
	padding: 8px;
	background-color: gainsboro;
	border-top: 1px solid black;
}

/* MOBILE PHONE LAYOUT */

@media (pointer: coarse) and ( (max-width: 400px) or (max-height: 400px) ) {
	#zoom_button { display: none; }
}

@media (max-width: 800px) { footer { bottom: 25px } }
@media (pointer: coarse) and (max-width: 800px) { footer { bottom: 37px } }

@media (pointer: coarse) {
	#replay_panel, .replay_button {
		height: 36px;
	}
	#prompt {
		user-select: none;
	}
}

@media (max-height: 600px) {
	.role:not(:hover) .role_name { padding-bottom: 3px; }
	.role:not(:hover) .role_stat { padding-bottom: 3px; }
	.role:not(:hover) .role_user { display: none; }
}

@media (max-width: 800px) {
	body {
		grid-template-columns: minmax(0, 1fr) min-content;
		grid-template-rows: min-content minmax(0, 1fr) min-content;
	}
	header {
		grid-column: 1/3;
		grid-row: 1;
	}
	main {
		grid-column: 1;
		grid-row: 2;
	}
	aside {
		grid-column: 2;
		grid-row: 2/4;
	}
	footer {
		background-color: #fffc;
	}
	#replay_panel {
		grid-column: 1;
		grid-row: 3;
		border-left: none;
		z-index: 496;
	}
	#chat_window, #notepad_window {
		position: static;
		grid-column: 1;
		grid-row: 2/4;
		display: none;
		width: auto;
		box-shadow: none;
		border: none;
	}
	#chat_text, #notepad_input {
		height: auto;
	}
	#chat_window.show, #notepad_window.show {
		display: grid;
	}
}

@media (max-width: 400px) {
	body {
		grid-template-columns: 1fr;
	}
	aside {
		grid-column: 1;
		grid-row: 2/3;
		z-index: 497;
		width: 100vw;
		border: none;
	}
}
