/* BATTLE DIALOG FOR COLUMBIA BLOCK GAMES */

#battle {
	display: none;
	position: absolute;
	scroll-margin: 20px;
	z-index: 50;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	background-color: white;
	border: 1px solid black;
	min-width: 524px; /* 6 blocks wide */
}

@media (max-width: 400px) {
	#battle {
		min-width: 100vw;
		min-width: 100dvw;
	}
}

#battle .block {
	position: static;
}

#battle.show {
	display: block;
}

#battle_header {
	padding: 2px 8px;
	line-height: 24px;
	min-height: 24px;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	list-style: none;
	cursor: s-resize;

	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-image: url(/images/gui_box_maximize.svg);
}

#battle[open] #battle_header {
	cursor: n-resize;
	border-bottom: 1px solid black;
	background-image: url(/images/gui_box_minimize.svg);
}

#battle_message {
	padding: 2px 8px;
	line-height: 24px;
	min-height: 24px;
	text-align: center;
	border-top: 1px solid black;
}

#FC, #FF, #FR, #EC, #EF, #ER {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 12px;
	gap: 4px
}

#FR .battle_menu_list, #ER .battle_menu_list {
	display: none;
}

.battle_menu .block {
	margin: 0 auto;
}

.battle_menu {
	width: 80px;
}

.battle_menu .action {
	display: none;
	width: 20px;
	height: 20px;
	padding: 3px;
}

.battle_menu_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4px;
	min-height: 26px;
}

.battle_menu .action:hover { background-color: red; }
.battle_menu .action.retreat:hover { background-color: #eee; }
.battle_menu .action.withdraw:hover { background-color: #eee; }
.battle_menu .action.pass:hover { background-color: gray; }

.battle_menu.fire .action.fire { display: block; }
.battle_menu.retreat .action.retreat { display: block; }
.battle_menu.pass .action.pass { display: block; }
.battle_menu.charge .action.charge { display: block; }
.battle_menu.treachery .action.treachery { display: block; }
.battle_menu.harry .action.harry { display: block; }
.battle_menu.withdraw .action.withdraw { display: block; }
.battle_menu.storm .action.storm { display: block; }
.battle_menu.sally .action.sally { display: block; }
.battle_menu.hit .action.hit { display: block; }

@media (pointer: coarse) {
	#EF > .battle_menu .action,
	#FF > .battle_menu .action {
		width: 30px;
		height: 30px;
		border-radius: 0;
		padding: 4px;
		opacity: 0.8;
	}
	#EF > .battle_menu > .battle_menu_list {
		min-height: 38px;
	}
	#FF > .battle_menu > .battle_menu_list {
		min-height: 76px;
	}
}
