/* BATTLE DIALOG FOR COLUMBIA BLOCK GAMES */

#battle {
	position: absolute;
	min-width: 524px; /* 6 blocks wide */
	left: 12px;
	top: 12px;
	z-index: 50;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	background-color: white;
	border: 1px solid black;
	display: none;
}

#battle .block {
	position: static;
}

#battle.show {
	display: block;
}

#battle_header {
	padding: 2px 8px;
	line-height: 24px;
	min-height: 24px;
	font-weight: bold;
	user-select: none;
	cursor: move;
	text-align: center;
	border-bottom: 1px solid black;
	overflow: hidden;
}

#battle_message {
	padding: 2px 8px;
	line-height: 24px;
	min-height: 24px;
	text-align: center;
	border-top: 1px solid black;
}

#FC, #FF, #FR, #EC, #EF, #ER {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 12px;
	gap: 4px
}

#FR .battle_menu_list, #ER .battle_menu_list {
	display: none;
}

.battle_menu .block {
	margin: 0 auto;
}

.battle_menu {
	width: 80px;
}

.battle_menu .action {
	display: none;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	padding: 3px;
}

.battle_menu_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4px;
	min-height: 26px;
}

.battle_menu .action:hover { background-color: red; }
.battle_menu .action.retreat:hover { background-color: #eee; }
.battle_menu .action.withdraw:hover { background-color: #eee; }
.battle_menu .action.pass:hover { background-color: gray; }

.battle_menu.fire .action.fire { display: block; }
.battle_menu.retreat .action.retreat { display: block; }
.battle_menu.pass .action.pass { display: block; }
.battle_menu.charge .action.charge { display: block; }
.battle_menu.treachery .action.treachery { display: block; }
.battle_menu.harry .action.harry { display: block; }
.battle_menu.withdraw .action.withdraw { display: block; }
.battle_menu.storm .action.storm { display: block; }
.battle_menu.sally .action.sally { display: block; }
.battle_menu.hit .action.hit { display: block; }
