/* COMMON GRID LAYOUT */

html {
	image-rendering: -webkit-optimize-contrast; /* try to fix chromium's terrible image rescaling */
}

html, button, input, select {
	font-family: "Source Sans", "Circled Numbers", "Dingbats", "Noto Emoji", "Verdana", sans-serif;
	font-size: 16px;
}

#chat_text, #chat_input {
	font-family: "Source Serif", "Circled Numbers", "Dingbats", "Noto Emoji", "Georgia", serif;
}

#log, #turn_info {
	font-family: "Source Serif SmText", "Circled Numbers", "Dingbats", "Noto Emoji", "Georgia", serif;
}

.hide {
	display: none;
}

body:not(.shift) .debug {
	display: none;
}

body.Observer .resign {
	display: none;
}

/* BUTTON */

button {
	box-sizing: border-box;
	font-size: 16px;
	height: 28px;
	padding: 1px 12px 1px 12px;
	background-color: gainsboro;
	border: 2px solid;
	outline: 1px solid black;
}

button:disabled {
	color: gray;
	border-color: gainsboro;
	outline-color: gray;
}

button:enabled {
	border-color: white darkgray darkgray white;
}

button:enabled:active:hover {
	border-color: darkgray white white darkgray;
	padding: 2px 11px 0px 13px;
}

/* MAIN GRID */

body {
	margin: 0;
	padding: 0;
	display: grid;
	overflow: clip;
	grid-template-columns: minmax(0, 1fr) auto;
	grid-template-rows: auto minmax(0, 1fr);
	width: 100vw;
	height: 100vh;
}

header {
	grid-column: 1/3;
	grid-row: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: gainsboro;
	padding-right: 8px;
}

#toolbar {
	display: flex;
	flex-wrap: wrap;
}

header.disconnected {
	background-color: red !important;
}

header.your_turn {
	background-color: orange;
}

main {
	grid-column: 1;
	grid-row: 2;
	overflow: auto;
	scrollbar-width: none;
}

aside {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	overflow: clip;
	grid-template-rows: auto minmax(0, 1fr);
	width: 212px;
	border-left: 1px solid black;
}

#roles {
	grid-column: 1;
	grid-row: 1;
}

#turn_info {
	border-bottom: 1px solid black;
	padding: 8px;
	white-space: pre-line;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
}

#log {
	grid-column: 1;
	grid-row: 2;
	overflow-y: scroll;
}

#log {
	padding: 12px 0;
	font-size: 12px;
	line-height: 18px;
	white-space: pre-wrap;
}

#log > * {
	padding: 0 4px 0 8px;
	min-height: 9px;
}

footer {
	position: fixed;
	pointer-events: none;
	z-index: 500;
	bottom: 0;
	background-color: white;
	padding: 0 8px;
}

/* MENU */

.menu {
	user-select: none;
}
.menu_item img {
	vertical-align: top;
	height: 20px;
}
.menu_title img {
	display: block;
	height: 36px;
	padding: 4px;
}
.menu:hover .menu_title {
	background-color: black;
	color: white;
}
.menu:hover .menu_title img {
	filter: invert(100%);
}
.menu_popup {
	display: none;
	position: absolute;
	min-width: 160px;
	white-space: nowrap;
	border: 1px solid black;
	background-color: white;
	z-index: 501;
}
.menu:hover .menu_popup {
	display: block;
}
.menu_separator {
	border-top: 1px solid black;
}
.menu_item {
	padding: 4px 8px;
}
.menu_item:hover {
	background-color: black;
	color: white;
}
.menu_item:hover img {
	filter: invert(100%);
}

/* TOOL BAR */

.icon_button {
	user-select: none;
}
.icon_button img {
	display: block;
	height: 36px;
	padding: 4px;
}
.icon_button:hover {
	background-color: black;
	color: white;
}
.icon_button:hover img {
	filter: invert(100%);
}

header #actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 8px;
	padding-left: 8px;
	margin: 4px 0;
}

header .replay {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	padding-left: 8px;
	margin: 4px 0;
}

header .replay button {
	margin-right: 0;
}

#prompt {
	padding-left: 20px;
	font-size: 18px;
	flex: 1 1 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* ROLES */

.role_info {
	border-bottom: 1px solid black;
}

.role_name {
	border-bottom: 1px solid black;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
}

.role_user {
	font-style: italic;
	text-align: right;
	overflow: clip;
	text-overflow: "...";
	white-space: nowrap;
}

.role_name::before {
	content: "\25cb  ";
	opacity: 0.6;
}

.role.present .role_name::before {
	content: "\25cf  ";
}

/* MAP */

#mapwrap {
	position: relative;
	margin: 0 auto;
}

#mapwrap.fit {
	max-width: 100%;
}

#mapwrap #map {
	position: absolute;
	isolation: isolate;
	transform-origin: 0 0;
}

/* CHAT WINDOW */

#chat_button.new {
	filter: invert(100%);
}

#chat_window {
	position: fixed;
	left: 24px;
	top: 68px;
	width: 640px;
	z-index: 500;
	border: 1px solid black;
	background-color: white;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
	visibility: hidden;
}

#chat_window.show {
	visibility: visible;
}

#chat_header {
	user-select: none;
	cursor: move;
	background-color: gainsboro;
	border-bottom: 1px solid black;
	padding: 4px 8px;
}

#chat_x {
	user-select: none;
	cursor: pointer;
	float: right;
	padding: 0px 2px;
	margin: 4px 4px;
}

#chat_x:hover {
	background-color: black;
	color: white;
}

#chat_text {
	font-size: 16px;
	line-height: 24px;
	height: 216px;
	padding: 0px 4px;
	overflow-y: scroll;
}

#chat_text .date {
	font-weight: bold;
}

#chat_form {
	display: block;
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
}

#chat_input {
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border: none;
	padding: 4px;
	font-size: 16px;
}

/* MOBILE PHONE LAYOUT */

@media (max-width: 640px) {
	body {
		width: 100%;
		height: auto;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		overflow-x: clip;
		overflow-y: auto;
	}
	footer {
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}
	header {
		display: block;
	}
	#prompt {
		padding-left: 8px;
		display: block;
		white-space: normal;
	}

	#chat_window {
		position: static;
		grid-column: 1;
		grid-row: 2;
		display: none;
		width: auto;
		box-shadow: none;
		border-top: none;
	}
	#chat_window.show {
		display: block;
	}

	/* game specific dialogs in rows 3-9 */

	main {
		grid-column: 1;
		grid-row: 10;
	}
	aside {
		grid-column: 1;
		grid-row: 11;
		width: auto !important;
		border-left: none;
		border-top: 1px solid black;
	}
	#log {
		height: 50vh;
	}
	#replay_button, #rematch_button {
		display: inline-block;
	}
}
