@font-face{font-family:'Circled Numbers';src:url('/fonts/CircledNumbers.woff2')format('woff2');unicode-range:U+2460-2467,U+2776-277F}
@font-face{font-family:'Dingbats';src:url('/fonts/Dingbats.woff2')format('woff2');unicode-range:U+2701-27FF}
@font-face{font-family:'Noto Emoji';src:url('/fonts/NotoEmoji.woff2')format('woff2')}

@font-face{font-family:'Source Sans';src:url('/fonts/SourceSans3-Regular.woff2')format('woff2')}
@font-face{font-family:'Source Sans';font-style:italic;src:url('/fonts/SourceSans3-It.woff2')format('woff2')}
@font-face{font-family:'Source Sans';font-weight:bold;src:url('/fonts/SourceSans3-Semibold.woff2')format('woff2')}
@font-face{font-family:'Source Sans';font-weight:bold;font-style:italic;src:url('/fonts/SourceSans3-SemiboldIt.woff2')format('woff2')}

@font-face{font-family:'Source Serif';src:url('/fonts/SourceSerif4-Regular.woff2')format('woff2')}
@font-face{font-family:'Source Serif';font-style:italic;src:url('/fonts/SourceSerif4-It.woff2')format('woff2')}
@font-face{font-family:'Source Serif';font-weight:bold;src:url('/fonts/SourceSerif4-Semibold.woff2')format('woff2')}
@font-face{font-family:'Source Serif';font-weight:bold;font-style:italic;src:url('/fonts/SourceSerif4-SemiboldIt.woff2')format('woff2')}

@font-face{font-family:'Source Serif SmText';src:url('/fonts/SourceSerif4SmText-Regular.woff2')format('woff2')}
@font-face{font-family:'Source Serif SmText';font-style:italic;src:url('/fonts/SourceSerif4SmText-It.woff2')format('woff2')}
@font-face{font-family:'Source Serif SmText';font-weight:bold;src:url('/fonts/SourceSerif4SmText-Semibold.woff2')format('woff2')}
@font-face{font-family:'Source Serif SmText';font-weight:bold;font-style:italic;src:url('/fonts/SourceSerif4SmText-SemiboldIt.woff2')format('woff2')}

@font-face{font-family:'Gentium Basic';src:url('GentiumBasic-Regular.woff2')format('woff2')}
@font-face{font-family:'Gentium Basic';font-style:italic;src:url('GentiumBasic-Italic.woff2')format('woff2')}
@font-face{font-family:'Gentium Basic';font-weight:bold;src:url('GentiumBasic-Bold.woff2')format('woff2')}
@font-face{font-family:'Gentium Basic';font-weight:bold;font-style:italic;src:url('GentiumBasic-BoldItalic.woff2')format('woff2')}

@font-face{font-family:'Tinos';font-weight:bold;src:url('Tinos-Bold.woff2')format('woff2')}
@font-face{font-family:'Tinos';font-weight:bold;font-style:italic;src:url('Tinos-BoldItalic.woff2')format('woff2')}
@font-face{font-family:'Tinos';font-style:italic;src:url('Tinos-Italic.woff2')format('woff2')}
@font-face{font-family:'Tinos';src:url('Tinos-Regular.woff2')format('woff2')}
