@font-face {
	font-family: 'Gentium Basic';
	font-style: normal;
	font-weight: 400;
	src: url('gentium-basic-v12-latin-regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Gentium Basic';
	font-style: italic;
	font-weight: 400;
	src: url('gentium-basic-v12-latin-italic.woff2') format('woff2');
}
@font-face {
	font-family: 'Gentium Basic';
	font-style: normal;
	font-weight: bold;
	src: url('gentium-basic-v12-latin-700.woff2') format('woff2');
}
@font-face {
	font-family: 'Gentium Basic';
	font-style: italic;
	font-weight: bold;
	src: url('gentium-basic-v12-latin-700italic.woff2') format('woff2');
}
