html, input, textarea {
	font-family: "Source Serif", "Georgia", "Dingbats", "Noto Emoji", serif;
	font-size: 16px;
}
button, select {
	font-family: "Source Sans", "Verdana", "Dingbats", "Noto Emoji", sans-serif;
	font-size: 16px;
}

html, body { margin: 0; }
h1 { margin-left: -2px; }
h2 { margin-left: -1px; }
a { color: blue; }
.w { white-space: nowrap; }
.r { text-align: right; }

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid brown;
	padding-right: 1em;
}
header img {
	display: block;
	margin: 4px 0 -2px 2px;
}
header nav a { margin: 0 1em; color: black; }
header nav a:hover { color: blue; }
article { margin: 2em; }
article p, article dl, article ul { max-width: 50rem; }

img.avatar {
	float: left; margin: 0 20px 5px 0;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,.5);
	width: 80px;
	height: 80px;
}

img.logo {
	float: left;
	margin: 0 20px 5px 0;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	height: 200px;
}

table {
	min-width: min(50rem,100%);
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 3px 1ex;
}
th {
	text-align: left;
	background-color: gainsboro;
}
td.body {
	white-space: pre-wrap;
	padding: 10px 10px;
}
table a:not(:hover) { text-decoration: none; color: black; }
table td.command a { text-decoration: underline; color: blue; }

input[type="checkbox"] {
	margin-right: 7px;
}
input[type="text"], input[type="password"], textarea {
	padding: 5px;
	margin: 5px 0;
	border: 1px solid black;
}
input:focus {
	outline: 2px solid lightsteelblue;
}
button, select {
	margin: 5px 10px 5px 0;
	padding: 1px 10px;
	background-color: gainsboro;
	vertical-align: top;
	border: 2px outset white;
	outline: 1px solid black;
}
button:enabled:active:hover, select:active {
	border: 2px inset white;
	padding: 2px 9px 0px 11px;
}
button:disabled {
	color: gray;
	border: 2px solid gainsboro;
	outline: 1px solid gray;
}

td.is_active { background-color: lemonchiffon; }
p.error { color: brown; font-style: italic; white-space: pre-wrap; }
p.warning { color: brown; }
p.warning::before { content: "\26a0"; }

article hr { max-width: 50rem; margin-right: auto; margin-left: 0; }
article hr { border: none; border-top: 2px dotted brown; }
article hr + p { font-style: italic; }
