button, select {
	font-family: "Source Sans", "Verdana", "Dingbats", "Noto Emoji", sans-serif;
	font-size: 16px;
}
html, input {
	font-family: "Source Serif", "Georgia", "Dingbats", "Noto Emoji", serif;
	font-size: 16px;
}
html, body { margin: 0; }
h1 { margin-left: -2px; }
h2 { margin-left: -1px; }
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid brown;
	padding-right: 1em;
}
.header img { display: block; margin: 4px 0 -2px 2px; }
.header span { margin: 0 1em; }
.header a { color: black; }
.main { margin: 2em; }
.main p, .main dl { max-width: 50rem; }
.main hr { max-width: 50rem; margin-right: auto; margin-left: 0; }
.main hr { border: none; border-top: 2px dotted brown; }
.main hr + p { font-style: italic; }
table.wide { min-width: 50rem; }
.error { color: brown; font-style: italic; white-space: pre-wrap; }
.warning { color: brown; }
.warning::before { content: "\26a0"; }
.logo { float: left; margin: 0 20px 5px 0; box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5); height: 150px; }
table { border-collapse: collapse; }
th { text-align: left; background-color: gainsboro; }
th, td { border: 1px solid black; }
th, td { padding: 3px 1ex; }
label { user-select: none; }
button, input, select { font-size: 1rem; margin: 5px 0; }
input[type="text"], input[type="password"] { padding: 5px; }
select { padding-right: 20px; }
form { display: inline; }
.nowrap { white-space: nowrap; }
.your_turn { background-color: lemonchiffon; }
button, select {
	margin: 5px 10px 5px 0;
	padding: 1px 10px;
	background-color: gainsboro;
}
button:disabled {
	color: gray;
	border: 2px solid gainsboro;
	outline: 1px solid gray;
}
button:enabled, select {
	border: 2px outset white;
	outline: 1px solid black;
}
button:enabled:active:hover, select:active {
	border: 2px inset white;
	padding: 2px 9px 0px 11px;
}
